<ion-popover-view id="usersManagement">
    <ion-content scroll="false">
        <div class="list">
            <div style="font-size:25px;padding:10px;border-bottom:1px solid grey;" ng-click="showInvite()">
                <img src="images/user_management/ico_invite_user@2x.png" />
                Invite User
            </div>
            <div style="font-size:25px;padding:10px;" ng-click="showManage()">
                <img src="images/user_management/ico_manage_users@2x.png" />
                Manage Users
            </div>
        </div>
    </ion-content>
</ion-popover-view>