.popup-container {
    right: 20px !important;
    top: 20px !important;
}

.rounded{
      border-radius: 10px !important;
}
.header-row {
    height: 100%;
}
.fieldPopup{
    width: 100%;
    height: 100%;
}
.add-field-body {
    height: 90%;
    max-height: 450px;
    padding: 12px;
}

.add-field-header {
    color: white;
    font-size: 25px;
    margin-top:10px;
    height: 8%;
}
.images {
    border: 1px solid rgba(211, 211, 211, 0.38) !important;
    color: rgba(211, 211, 211, 0.38);
    height: 35%;
}
.images.row {
    min-height:95px;
    height: 22%;
    max-height: 200px;
    padding: 0px !important;
}
.images .add-image {
    border: 1px solid rgba(211, 211, 211, 0.38) !important;
    border-radius: 10px;
    text-align: center;
    
}
.images .previews .add-image-button {
    text-align: center; 
    width: 100%;
    height: 100%;

}
.images .previews .preview .add-image-button .add-image-icon {
    font-size: 25px;
}
.images .previews {
  /*  display: inline-block;*/
    min-height: 80px;
 /*   height: 100%;*/
    padding: 5px !important;

}
.images .previews .preview{
    border-radius: 10px;
  /*  display: inline-block;*/
    overflow:hidden;
    width: 20% !important;
    height: 100%;
    position: relative;
    max-height: 100%;
    min-width: 80px;
    min-height: 80px;
}

.images .previews .preview .preview-image {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    min-height: 80px;
    max-height: 150px;
    max-width: 150px;
}
.images .previews .preview .close-btn {
    position: absolute;
    top: 25%;
    right: 25%;
    z-index: 100;
    opacity: 0.8;
    font-size: 25px !important;
}
.wide-as-needed {
    overflow: hidden;
    white-space: nowrap;
    height: 100% !important;
}
.wide-as-needed .scroll {
    height: 100%;
}

.rounded-name{
    border-top-left-radius: 7px !important;
    border-top-right-radius: 7px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    background-color:transparent !important;
    border: 1px solid rgba(211, 211, 211, 0.38) !important;
    border-bottom: none !important;
    color: white !important;
    height: 15% !important;
    padding: 5px !important;
}
.address-field{
    background-color:transparent !important;
    border-radius: 0px !important;
    border: 1px solid rgba(211, 211, 211, 0.38) !important;
    border-bottom: none !important;

    color: white !important;
    height: 15% !important;
    padding: 5px !important;
}

.field-note{
    background-color:transparent !important;
    background-color:transparent !important;
     border-radius: 0px !important;
    border: 1px solid rgba(211, 211, 211, 0.38) !important;
    border-bottom: none !important;
    border-top: none !important;
    resize: none;
    color: white !important;
    height: 35%;
    padding: 5px !important;
}

.button-rounded {
    border-radius: 10px;
}

.name-content{
    min-width:300px;
    width:30%; 
    margin:auto;
}

.name-text{
    color:white !important;
}

.button-addfield{
    border-bottom-left-radius: 7px !important;
    border-bottom-right-radius: 7px !important;
    font-size: 25px;
    height: 15% !important;
    background-color:rgba(221,221,221,0.5) !important;
    color:black !important;
    width: 100%;
    border: 1px solid rgba(211, 211, 211, 0.38) !important;
 }
@media screen and (max-height: 400px) {
  .field-note { height: 20%;}  
}

.ui-menu .ui-menu-item{
    font-size:14px;
}

.ui-autocomplete{
    z-index:101;
}
