body {
}

.modalChoice {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    height: 120px !important;
    width: 210px !important;
    margin-left: -90px !important;
    margin-top: -135px !important;
    /*bottom: 235px !important;*/
    background-color: white;
    border-radius: 8px;
    padding: 30px;
}

.modalChoice img {
    width: 60px;
    height: 60px;
    z-index: 10;
}

.triangle-arrow-down {
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-top: 15px solid white;
    position: absolute;
    top: 115px;
    left: 85px;
    z-index: -10;
}