#cleanMap > div.leaflet-control-container > div.leaflet-top.leaflet-left {
    display: none;
}

.saveField-cleanMap {
    z-index: 30;
    position: absolute;
    top: 20px;
    right: 20px;
    /*margin-top: -35px;
    margin-left: -70px;*/
    width: 140px;
    height: 70px;
    /*border-radius: 20px;
    font-size: 20px;
    border: none;*/
}

.cleanMapHeaderButton {
    top: 10px;
    left: 5px;
    font-size: 23px !important;
    color: black !important;
    /*max-height: 100% !important;*/
}

.cleanMapHeader {
    /*position: absolute;*/
    height: 75px;
    color: black !important;
}