﻿body {

  }
.rounded{
      border-radius: 7px !important;
}

.rounded-recovery-email{
      border-top-left-radius: 7px !important;
      border-top-right-radius: 7px !important;
      border-bottom-left-radius: 7px !important;
      border-bottom-right-radius: 7px !important;
}

.button-rounded {
    border-radius: 7px;
}

.login{
    background-image: url(../../images/forest.png); 
    -webkit-background-size: cover;
        -moz-background-size: cover;   
     background-size: 100% 100%;
}

.login-content{
    min-width:300px;
    width:30%; 
    margin:auto;
}

#forgot-view .login-text {
    font-weight:100;
    color:white !important;
    font-size: 21px;
}

#forgot-view ::-webkit-input-placeholder {
   padding-top: 5px;
}

#forgot-view .button-sign-in { 
    color:black !important;
    background-color:rgba(221,221,221,0.5) !important;
    border-color:rgba(0,0,0,0) !important;
	margin-top: 15px !important;
	margin-bottom: 0px;
}

.border-opacity{
    border-color:rgba(221,221,221,0.5);
}

#forgot-view .login-title {
	margin-top: 73px !important;
	margin-bottom: 0px;
	font-size: 36px !important;
	line-height: 1;
}

#forgot-view .bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none;
    border-bottom: none;
}


@media only screen and (max-height: 512px) {
    #forgot-view .login-text {
    	font-size: 16px;
	}
	#forgot-view .has-header {
		top:22px;
	}
    #forgot-view .login-title {
		margin-top: 0px !important;
		margin-bottom: 0px;
		font-size: 24px !important;
	}
}