.animate-show {
    max-height: 700px;
    /*padding:10px;*/
}
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear 0.7s;
    -moz-transition: all linear 0.7s;
    -o-transition: all linear 0.7s;
    transition: all linear 0.7s;
}

.animate-show.ng-hide {
    opacity:0;
    max-height: 0;
    padding:0;
}


