@font-face {
  font-family: FuturaStd-Light;
  src: url(../font/FuturaStd-Light.otf) format("opentype");
}
@font-face {
  font-family: FuturaStd-Medium;
  src: url(../font/FuturaStd-Medium.otf) format("opentype");
}
@font-face {
  font-family: FuturaStd-Heavy;
  src: url(../font/FuturaStd-Heavy.otf) format("opentype");
}

