@-moz-keyframes shake {
    0% {
        -moz-transform: translate(0px, 0px) rotate(0deg);
        -ms-transform: translate(0px, 0px) rotate(0deg);
        -o-transform: translate(0px, 0px) rotate(0deg);
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg);
    }

    2% {
        -moz-transform: translate(-4px, 0px) rotate(0deg);
        -ms-transform: translate(-4px, 0px) rotate(0deg);
        -o-transform: translate(-4px, 0px) rotate(0deg);
        -webkit-transform: translate(-4px, 0px) rotate(0deg);
        transform: translate(-4px, 0px) rotate(0deg);
    }

    4% {
        -moz-transform: translate(2px, 0px) rotate(0deg);
        -ms-transform: translate(2px, 0px) rotate(0deg);
        -o-transform: translate(2px, 0px) rotate(0deg);
        -webkit-transform: translate(2px, 0px) rotate(0deg);
        transform: translate(2px, 0px) rotate(0deg);
    }

    6% {
        -moz-transform: translate(-3px, 0px) rotate(0deg);
        -ms-transform: translate(-3px, 0px) rotate(0deg);
        -o-transform: translate(-3px, 0px) rotate(0deg);
        -webkit-transform: translate(-3px, 0px) rotate(0deg);
        transform: translate(-3px, 0px) rotate(0deg);
    }

    8% {
        -moz-transform: translate(9px, 0px) rotate(0deg);
        -ms-transform: translate(9px, 0px) rotate(0deg);
        -o-transform: translate(9px, 0px) rotate(0deg);
        -webkit-transform: translate(9px, 0px) rotate(0deg);
        transform: translate(9px, 0px) rotate(0deg);
    }

    10% {
        -moz-transform: translate(2px, 0px) rotate(0deg);
        -ms-transform: translate(2px, 0px) rotate(0deg);
        -o-transform: translate(2px, 0px) rotate(0deg);
        -webkit-transform: translate(2px, 0px) rotate(0deg);
        transform: translate(2px, 0px) rotate(0deg);
    }

    12% {
        -moz-transform: translate(-6px, 0px) rotate(0deg);
        -ms-transform: translate(-6px, 0px) rotate(0deg);
        -o-transform: translate(-6px, 0px) rotate(0deg);
        -webkit-transform: translate(-6px, 0px) rotate(0deg);
        transform: translate(-6px, 0px) rotate(0deg);
    }

    14% {
        -moz-transform: translate(-7px, 0px) rotate(0deg);
        -ms-transform: translate(-7px, 0px) rotate(0deg);
        -o-transform: translate(-7px, 0px) rotate(0deg);
        -webkit-transform: translate(-7px, 0px) rotate(0deg);
        transform: translate(-7px, 0px) rotate(0deg);
    }

    16% {
        -moz-transform: translate(2px, 0px) rotate(0deg);
        -ms-transform: translate(2px, 0px) rotate(0deg);
        -o-transform: translate(2px, 0px) rotate(0deg);
        -webkit-transform: translate(2px, 0px) rotate(0deg);
        transform: translate(2px, 0px) rotate(0deg);
    }

    18% {
        -moz-transform: translate(7px, 0px) rotate(0deg);
        -ms-transform: translate(7px, 0px) rotate(0deg);
        -o-transform: translate(7px, 0px) rotate(0deg);
        -webkit-transform: translate(7px, 0px) rotate(0deg);
        transform: translate(7px, 0px) rotate(0deg);
    }

    20% {
        -moz-transform: translate(-1px, 0px) rotate(0deg);
        -ms-transform: translate(-1px, 0px) rotate(0deg);
        -o-transform: translate(-1px, 0px) rotate(0deg);
        -webkit-transform: translate(-1px, 0px) rotate(0deg);
        transform: translate(-1px, 0px) rotate(0deg);
    }

    22% {
        -moz-transform: translate(-10px, 0px) rotate(0deg);
        -ms-transform: translate(-10px, 0px) rotate(0deg);
        -o-transform: translate(-10px, 0px) rotate(0deg);
        -webkit-transform: translate(-10px, 0px) rotate(0deg);
        transform: translate(-10px, 0px) rotate(0deg);
    }

    24% {
        -moz-transform: translate(-10px, 0px) rotate(0deg);
        -ms-transform: translate(-10px, 0px) rotate(0deg);
        -o-transform: translate(-10px, 0px) rotate(0deg);
        -webkit-transform: translate(-10px, 0px) rotate(0deg);
        transform: translate(-10px, 0px) rotate(0deg);
    }

    26% {
        -moz-transform: translate(3px, 0px) rotate(0deg);
        -ms-transform: translate(3px, 0px) rotate(0deg);
        -o-transform: translate(3px, 0px) rotate(0deg);
        -webkit-transform: translate(3px, 0px) rotate(0deg);
        transform: translate(3px, 0px) rotate(0deg);
    }

    28% {
        -moz-transform: translate(-5px, 0px) rotate(0deg);
        -ms-transform: translate(-5px, 0px) rotate(0deg);
        -o-transform: translate(-5px, 0px) rotate(0deg);
        -webkit-transform: translate(-5px, 0px) rotate(0deg);
        transform: translate(-5px, 0px) rotate(0deg);
    }

    30% {
        -moz-transform: translate(4px, 0px) rotate(0deg);
        -ms-transform: translate(4px, 0px) rotate(0deg);
        -o-transform: translate(4px, 0px) rotate(0deg);
        -webkit-transform: translate(4px, 0px) rotate(0deg);
        transform: translate(4px, 0px) rotate(0deg);
    }

    32% {
        -moz-transform: translate(-6px, 0px) rotate(0deg);
        -ms-transform: translate(-6px, 0px) rotate(0deg);
        -o-transform: translate(-6px, 0px) rotate(0deg);
        -webkit-transform: translate(-6px, 0px) rotate(0deg);
        transform: translate(-6px, 0px) rotate(0deg);
    }

    34% {
        -moz-transform: translate(-2px, 0px) rotate(0deg);
        -ms-transform: translate(-2px, 0px) rotate(0deg);
        -o-transform: translate(-2px, 0px) rotate(0deg);
        -webkit-transform: translate(-2px, 0px) rotate(0deg);
        transform: translate(-2px, 0px) rotate(0deg);
    }

    36% {
        -moz-transform: translate(-6px, 0px) rotate(0deg);
        -ms-transform: translate(-6px, 0px) rotate(0deg);
        -o-transform: translate(-6px, 0px) rotate(0deg);
        -webkit-transform: translate(-6px, 0px) rotate(0deg);
        transform: translate(-6px, 0px) rotate(0deg);
    }

    38% {
        -moz-transform: translate(-2px, 0px) rotate(0deg);
        -ms-transform: translate(-2px, 0px) rotate(0deg);
        -o-transform: translate(-2px, 0px) rotate(0deg);
        -webkit-transform: translate(-2px, 0px) rotate(0deg);
        transform: translate(-2px, 0px) rotate(0deg);
    }

    40% {
        -moz-transform: translate(4px, 0px) rotate(0deg);
        -ms-transform: translate(4px, 0px) rotate(0deg);
        -o-transform: translate(4px, 0px) rotate(0deg);
        -webkit-transform: translate(4px, 0px) rotate(0deg);
        transform: translate(4px, 0px) rotate(0deg);
    }

    42% {
        -moz-transform: translate(8px, 0px) rotate(0deg);
        -ms-transform: translate(8px, 0px) rotate(0deg);
        -o-transform: translate(8px, 0px) rotate(0deg);
        -webkit-transform: translate(8px, 0px) rotate(0deg);
        transform: translate(8px, 0px) rotate(0deg);
    }

    44% {
        -moz-transform: translate(-3px, 0px) rotate(0deg);
        -ms-transform: translate(-3px, 0px) rotate(0deg);
        -o-transform: translate(-3px, 0px) rotate(0deg);
        -webkit-transform: translate(-3px, 0px) rotate(0deg);
        transform: translate(-3px, 0px) rotate(0deg);
    }

    46% {
        -moz-transform: translate(-10px, 0px) rotate(0deg);
        -ms-transform: translate(-10px, 0px) rotate(0deg);
        -o-transform: translate(-10px, 0px) rotate(0deg);
        -webkit-transform: translate(-10px, 0px) rotate(0deg);
        transform: translate(-10px, 0px) rotate(0deg);
    }

    48% {
        -moz-transform: translate(4px, 0px) rotate(0deg);
        -ms-transform: translate(4px, 0px) rotate(0deg);
        -o-transform: translate(4px, 0px) rotate(0deg);
        -webkit-transform: translate(4px, 0px) rotate(0deg);
        transform: translate(4px, 0px) rotate(0deg);
    }

    50% {
        -moz-transform: translate(-6px, 0px) rotate(0deg);
        -ms-transform: translate(-6px, 0px) rotate(0deg);
        -o-transform: translate(-6px, 0px) rotate(0deg);
        -webkit-transform: translate(-6px, 0px) rotate(0deg);
        transform: translate(-6px, 0px) rotate(0deg);
    }

    52% {
        -moz-transform: translate(6px, 0px) rotate(0deg);
        -ms-transform: translate(6px, 0px) rotate(0deg);
        -o-transform: translate(6px, 0px) rotate(0deg);
        -webkit-transform: translate(6px, 0px) rotate(0deg);
        transform: translate(6px, 0px) rotate(0deg);
    }

    54% {
        -moz-transform: translate(-8px, 0px) rotate(0deg);
        -ms-transform: translate(-8px, 0px) rotate(0deg);
        -o-transform: translate(-8px, 0px) rotate(0deg);
        -webkit-transform: translate(-8px, 0px) rotate(0deg);
        transform: translate(-8px, 0px) rotate(0deg);
    }

    56% {
        -moz-transform: translate(5px, 0px) rotate(0deg);
        -ms-transform: translate(5px, 0px) rotate(0deg);
        -o-transform: translate(5px, 0px) rotate(0deg);
        -webkit-transform: translate(5px, 0px) rotate(0deg);
        transform: translate(5px, 0px) rotate(0deg);
    }

    58% {
        -moz-transform: translate(9px, 0px) rotate(0deg);
        -ms-transform: translate(9px, 0px) rotate(0deg);
        -o-transform: translate(9px, 0px) rotate(0deg);
        -webkit-transform: translate(9px, 0px) rotate(0deg);
        transform: translate(9px, 0px) rotate(0deg);
    }

    60% {
        -moz-transform: translate(7px, 0px) rotate(0deg);
        -ms-transform: translate(7px, 0px) rotate(0deg);
        -o-transform: translate(7px, 0px) rotate(0deg);
        -webkit-transform: translate(7px, 0px) rotate(0deg);
        transform: translate(7px, 0px) rotate(0deg);
    }

    62% {
        -moz-transform: translate(1px, 0px) rotate(0deg);
        -ms-transform: translate(1px, 0px) rotate(0deg);
        -o-transform: translate(1px, 0px) rotate(0deg);
        -webkit-transform: translate(1px, 0px) rotate(0deg);
        transform: translate(1px, 0px) rotate(0deg);
    }

    64% {
        -moz-transform: translate(2px, 0px) rotate(0deg);
        -ms-transform: translate(2px, 0px) rotate(0deg);
        -o-transform: translate(2px, 0px) rotate(0deg);
        -webkit-transform: translate(2px, 0px) rotate(0deg);
        transform: translate(2px, 0px) rotate(0deg);
    }

    66% {
        -moz-transform: translate(-2px, 0px) rotate(0deg);
        -ms-transform: translate(-2px, 0px) rotate(0deg);
        -o-transform: translate(-2px, 0px) rotate(0deg);
        -webkit-transform: translate(-2px, 0px) rotate(0deg);
        transform: translate(-2px, 0px) rotate(0deg);
    }

    68% {
        -moz-transform: translate(-7px, 0px) rotate(0deg);
        -ms-transform: translate(-7px, 0px) rotate(0deg);
        -o-transform: translate(-7px, 0px) rotate(0deg);
        -webkit-transform: translate(-7px, 0px) rotate(0deg);
        transform: translate(-7px, 0px) rotate(0deg);
    }

    70% {
        -moz-transform: translate(-1px, 0px) rotate(0deg);
        -ms-transform: translate(-1px, 0px) rotate(0deg);
        -o-transform: translate(-1px, 0px) rotate(0deg);
        -webkit-transform: translate(-1px, 0px) rotate(0deg);
        transform: translate(-1px, 0px) rotate(0deg);
    }

    72% {
        -moz-transform: translate(-6px, 0px) rotate(0deg);
        -ms-transform: translate(-6px, 0px) rotate(0deg);
        -o-transform: translate(-6px, 0px) rotate(0deg);
        -webkit-transform: translate(-6px, 0px) rotate(0deg);
        transform: translate(-6px, 0px) rotate(0deg);
    }

    74% {
        -moz-transform: translate(5px, 0px) rotate(0deg);
        -ms-transform: translate(5px, 0px) rotate(0deg);
        -o-transform: translate(5px, 0px) rotate(0deg);
        -webkit-transform: translate(5px, 0px) rotate(0deg);
        transform: translate(5px, 0px) rotate(0deg);
    }

    76% {
        -moz-transform: translate(0px, 0px) rotate(0deg);
        -ms-transform: translate(0px, 0px) rotate(0deg);
        -o-transform: translate(0px, 0px) rotate(0deg);
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg);
    }

    78% {
        -moz-transform: translate(9px, 0px) rotate(0deg);
        -ms-transform: translate(9px, 0px) rotate(0deg);
        -o-transform: translate(9px, 0px) rotate(0deg);
        -webkit-transform: translate(9px, 0px) rotate(0deg);
        transform: translate(9px, 0px) rotate(0deg);
    }

    80% {
        -moz-transform: translate(-3px, 0px) rotate(0deg);
        -ms-transform: translate(-3px, 0px) rotate(0deg);
        -o-transform: translate(-3px, 0px) rotate(0deg);
        -webkit-transform: translate(-3px, 0px) rotate(0deg);
        transform: translate(-3px, 0px) rotate(0deg);
    }

    82% {
        -moz-transform: translate(8px, 0px) rotate(0deg);
        -ms-transform: translate(8px, 0px) rotate(0deg);
        -o-transform: translate(8px, 0px) rotate(0deg);
        -webkit-transform: translate(8px, 0px) rotate(0deg);
        transform: translate(8px, 0px) rotate(0deg);
    }

    84% {
        -moz-transform: translate(-2px, 0px) rotate(0deg);
        -ms-transform: translate(-2px, 0px) rotate(0deg);
        -o-transform: translate(-2px, 0px) rotate(0deg);
        -webkit-transform: translate(-2px, 0px) rotate(0deg);
        transform: translate(-2px, 0px) rotate(0deg);
    }

    86% {
        -moz-transform: translate(-1px, 0px) rotate(0deg);
        -ms-transform: translate(-1px, 0px) rotate(0deg);
        -o-transform: translate(-1px, 0px) rotate(0deg);
        -webkit-transform: translate(-1px, 0px) rotate(0deg);
        transform: translate(-1px, 0px) rotate(0deg);
    }

    88% {
        -moz-transform: translate(-3px, 0px) rotate(0deg);
        -ms-transform: translate(-3px, 0px) rotate(0deg);
        -o-transform: translate(-3px, 0px) rotate(0deg);
        -webkit-transform: translate(-3px, 0px) rotate(0deg);
        transform: translate(-3px, 0px) rotate(0deg);
    }

    90% {
        -moz-transform: translate(4px, 0px) rotate(0deg);
        -ms-transform: translate(4px, 0px) rotate(0deg);
        -o-transform: translate(4px, 0px) rotate(0deg);
        -webkit-transform: translate(4px, 0px) rotate(0deg);
        transform: translate(4px, 0px) rotate(0deg);
    }

    92% {
        -moz-transform: translate(0px, 0px) rotate(0deg);
        -ms-transform: translate(0px, 0px) rotate(0deg);
        -o-transform: translate(0px, 0px) rotate(0deg);
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg);
    }

    94% {
        -moz-transform: translate(4px, 0px) rotate(0deg);
        -ms-transform: translate(4px, 0px) rotate(0deg);
        -o-transform: translate(4px, 0px) rotate(0deg);
        -webkit-transform: translate(4px, 0px) rotate(0deg);
        transform: translate(4px, 0px) rotate(0deg);
    }

    96% {
        -moz-transform: translate(2px, 0px) rotate(0deg);
        -ms-transform: translate(2px, 0px) rotate(0deg);
        -o-transform: translate(2px, 0px) rotate(0deg);
        -webkit-transform: translate(2px, 0px) rotate(0deg);
        transform: translate(2px, 0px) rotate(0deg);
    }

    98% {
        -moz-transform: translate(-2px, 0px) rotate(0deg);
        -ms-transform: translate(-2px, 0px) rotate(0deg);
        -o-transform: translate(-2px, 0px) rotate(0deg);
        -webkit-transform: translate(-2px, 0px) rotate(0deg);
        transform: translate(-2px, 0px) rotate(0deg);
    }
}

@-webkit-keyframes shake {
    0% {
        -moz-transform: translate(0px, 0px) rotate(0deg);
        -ms-transform: translate(0px, 0px) rotate(0deg);
        -o-transform: translate(0px, 0px) rotate(0deg);
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg);
    }

    2% {
        -moz-transform: translate(-4px, 0px) rotate(0deg);
        -ms-transform: translate(-4px, 0px) rotate(0deg);
        -o-transform: translate(-4px, 0px) rotate(0deg);
        -webkit-transform: translate(-4px, 0px) rotate(0deg);
        transform: translate(-4px, 0px) rotate(0deg);
    }

    4% {
        -moz-transform: translate(2px, 0px) rotate(0deg);
        -ms-transform: translate(2px, 0px) rotate(0deg);
        -o-transform: translate(2px, 0px) rotate(0deg);
        -webkit-transform: translate(2px, 0px) rotate(0deg);
        transform: translate(2px, 0px) rotate(0deg);
    }

    6% {
        -moz-transform: translate(-3px, 0px) rotate(0deg);
        -ms-transform: translate(-3px, 0px) rotate(0deg);
        -o-transform: translate(-3px, 0px) rotate(0deg);
        -webkit-transform: translate(-3px, 0px) rotate(0deg);
        transform: translate(-3px, 0px) rotate(0deg);
    }

    8% {
        -moz-transform: translate(9px, 0px) rotate(0deg);
        -ms-transform: translate(9px, 0px) rotate(0deg);
        -o-transform: translate(9px, 0px) rotate(0deg);
        -webkit-transform: translate(9px, 0px) rotate(0deg);
        transform: translate(9px, 0px) rotate(0deg);
    }

    10% {
        -moz-transform: translate(2px, 0px) rotate(0deg);
        -ms-transform: translate(2px, 0px) rotate(0deg);
        -o-transform: translate(2px, 0px) rotate(0deg);
        -webkit-transform: translate(2px, 0px) rotate(0deg);
        transform: translate(2px, 0px) rotate(0deg);
    }

    12% {
        -moz-transform: translate(-6px, 0px) rotate(0deg);
        -ms-transform: translate(-6px, 0px) rotate(0deg);
        -o-transform: translate(-6px, 0px) rotate(0deg);
        -webkit-transform: translate(-6px, 0px) rotate(0deg);
        transform: translate(-6px, 0px) rotate(0deg);
    }

    14% {
        -moz-transform: translate(-7px, 0px) rotate(0deg);
        -ms-transform: translate(-7px, 0px) rotate(0deg);
        -o-transform: translate(-7px, 0px) rotate(0deg);
        -webkit-transform: translate(-7px, 0px) rotate(0deg);
        transform: translate(-7px, 0px) rotate(0deg);
    }

    16% {
        -moz-transform: translate(2px, 0px) rotate(0deg);
        -ms-transform: translate(2px, 0px) rotate(0deg);
        -o-transform: translate(2px, 0px) rotate(0deg);
        -webkit-transform: translate(2px, 0px) rotate(0deg);
        transform: translate(2px, 0px) rotate(0deg);
    }

    18% {
        -moz-transform: translate(7px, 0px) rotate(0deg);
        -ms-transform: translate(7px, 0px) rotate(0deg);
        -o-transform: translate(7px, 0px) rotate(0deg);
        -webkit-transform: translate(7px, 0px) rotate(0deg);
        transform: translate(7px, 0px) rotate(0deg);
    }

    20% {
        -moz-transform: translate(-1px, 0px) rotate(0deg);
        -ms-transform: translate(-1px, 0px) rotate(0deg);
        -o-transform: translate(-1px, 0px) rotate(0deg);
        -webkit-transform: translate(-1px, 0px) rotate(0deg);
        transform: translate(-1px, 0px) rotate(0deg);
    }

    22% {
        -moz-transform: translate(-10px, 0px) rotate(0deg);
        -ms-transform: translate(-10px, 0px) rotate(0deg);
        -o-transform: translate(-10px, 0px) rotate(0deg);
        -webkit-transform: translate(-10px, 0px) rotate(0deg);
        transform: translate(-10px, 0px) rotate(0deg);
    }

    24% {
        -moz-transform: translate(-10px, 0px) rotate(0deg);
        -ms-transform: translate(-10px, 0px) rotate(0deg);
        -o-transform: translate(-10px, 0px) rotate(0deg);
        -webkit-transform: translate(-10px, 0px) rotate(0deg);
        transform: translate(-10px, 0px) rotate(0deg);
    }

    26% {
        -moz-transform: translate(3px, 0px) rotate(0deg);
        -ms-transform: translate(3px, 0px) rotate(0deg);
        -o-transform: translate(3px, 0px) rotate(0deg);
        -webkit-transform: translate(3px, 0px) rotate(0deg);
        transform: translate(3px, 0px) rotate(0deg);
    }

    28% {
        -moz-transform: translate(-5px, 0px) rotate(0deg);
        -ms-transform: translate(-5px, 0px) rotate(0deg);
        -o-transform: translate(-5px, 0px) rotate(0deg);
        -webkit-transform: translate(-5px, 0px) rotate(0deg);
        transform: translate(-5px, 0px) rotate(0deg);
    }

    30% {
        -moz-transform: translate(4px, 0px) rotate(0deg);
        -ms-transform: translate(4px, 0px) rotate(0deg);
        -o-transform: translate(4px, 0px) rotate(0deg);
        -webkit-transform: translate(4px, 0px) rotate(0deg);
        transform: translate(4px, 0px) rotate(0deg);
    }

    32% {
        -moz-transform: translate(-6px, 0px) rotate(0deg);
        -ms-transform: translate(-6px, 0px) rotate(0deg);
        -o-transform: translate(-6px, 0px) rotate(0deg);
        -webkit-transform: translate(-6px, 0px) rotate(0deg);
        transform: translate(-6px, 0px) rotate(0deg);
    }

    34% {
        -moz-transform: translate(-2px, 0px) rotate(0deg);
        -ms-transform: translate(-2px, 0px) rotate(0deg);
        -o-transform: translate(-2px, 0px) rotate(0deg);
        -webkit-transform: translate(-2px, 0px) rotate(0deg);
        transform: translate(-2px, 0px) rotate(0deg);
    }

    36% {
        -moz-transform: translate(-6px, 0px) rotate(0deg);
        -ms-transform: translate(-6px, 0px) rotate(0deg);
        -o-transform: translate(-6px, 0px) rotate(0deg);
        -webkit-transform: translate(-6px, 0px) rotate(0deg);
        transform: translate(-6px, 0px) rotate(0deg);
    }

    38% {
        -moz-transform: translate(-2px, 0px) rotate(0deg);
        -ms-transform: translate(-2px, 0px) rotate(0deg);
        -o-transform: translate(-2px, 0px) rotate(0deg);
        -webkit-transform: translate(-2px, 0px) rotate(0deg);
        transform: translate(-2px, 0px) rotate(0deg);
    }

    40% {
        -moz-transform: translate(4px, 0px) rotate(0deg);
        -ms-transform: translate(4px, 0px) rotate(0deg);
        -o-transform: translate(4px, 0px) rotate(0deg);
        -webkit-transform: translate(4px, 0px) rotate(0deg);
        transform: translate(4px, 0px) rotate(0deg);
    }

    42% {
        -moz-transform: translate(8px, 0px) rotate(0deg);
        -ms-transform: translate(8px, 0px) rotate(0deg);
        -o-transform: translate(8px, 0px) rotate(0deg);
        -webkit-transform: translate(8px, 0px) rotate(0deg);
        transform: translate(8px, 0px) rotate(0deg);
    }

    44% {
        -moz-transform: translate(-3px, 0px) rotate(0deg);
        -ms-transform: translate(-3px, 0px) rotate(0deg);
        -o-transform: translate(-3px, 0px) rotate(0deg);
        -webkit-transform: translate(-3px, 0px) rotate(0deg);
        transform: translate(-3px, 0px) rotate(0deg);
    }

    46% {
        -moz-transform: translate(-10px, 0px) rotate(0deg);
        -ms-transform: translate(-10px, 0px) rotate(0deg);
        -o-transform: translate(-10px, 0px) rotate(0deg);
        -webkit-transform: translate(-10px, 0px) rotate(0deg);
        transform: translate(-10px, 0px) rotate(0deg);
    }

    48% {
        -moz-transform: translate(4px, 0px) rotate(0deg);
        -ms-transform: translate(4px, 0px) rotate(0deg);
        -o-transform: translate(4px, 0px) rotate(0deg);
        -webkit-transform: translate(4px, 0px) rotate(0deg);
        transform: translate(4px, 0px) rotate(0deg);
    }

    50% {
        -moz-transform: translate(-6px, 0px) rotate(0deg);
        -ms-transform: translate(-6px, 0px) rotate(0deg);
        -o-transform: translate(-6px, 0px) rotate(0deg);
        -webkit-transform: translate(-6px, 0px) rotate(0deg);
        transform: translate(-6px, 0px) rotate(0deg);
    }

    52% {
        -moz-transform: translate(6px, 0px) rotate(0deg);
        -ms-transform: translate(6px, 0px) rotate(0deg);
        -o-transform: translate(6px, 0px) rotate(0deg);
        -webkit-transform: translate(6px, 0px) rotate(0deg);
        transform: translate(6px, 0px) rotate(0deg);
    }

    54% {
        -moz-transform: translate(-8px, 0px) rotate(0deg);
        -ms-transform: translate(-8px, 0px) rotate(0deg);
        -o-transform: translate(-8px, 0px) rotate(0deg);
        -webkit-transform: translate(-8px, 0px) rotate(0deg);
        transform: translate(-8px, 0px) rotate(0deg);
    }

    56% {
        -moz-transform: translate(5px, 0px) rotate(0deg);
        -ms-transform: translate(5px, 0px) rotate(0deg);
        -o-transform: translate(5px, 0px) rotate(0deg);
        -webkit-transform: translate(5px, 0px) rotate(0deg);
        transform: translate(5px, 0px) rotate(0deg);
    }

    58% {
        -moz-transform: translate(9px, 0px) rotate(0deg);
        -ms-transform: translate(9px, 0px) rotate(0deg);
        -o-transform: translate(9px, 0px) rotate(0deg);
        -webkit-transform: translate(9px, 0px) rotate(0deg);
        transform: translate(9px, 0px) rotate(0deg);
    }

    60% {
        -moz-transform: translate(7px, 0px) rotate(0deg);
        -ms-transform: translate(7px, 0px) rotate(0deg);
        -o-transform: translate(7px, 0px) rotate(0deg);
        -webkit-transform: translate(7px, 0px) rotate(0deg);
        transform: translate(7px, 0px) rotate(0deg);
    }

    62% {
        -moz-transform: translate(1px, 0px) rotate(0deg);
        -ms-transform: translate(1px, 0px) rotate(0deg);
        -o-transform: translate(1px, 0px) rotate(0deg);
        -webkit-transform: translate(1px, 0px) rotate(0deg);
        transform: translate(1px, 0px) rotate(0deg);
    }

    64% {
        -moz-transform: translate(2px, 0px) rotate(0deg);
        -ms-transform: translate(2px, 0px) rotate(0deg);
        -o-transform: translate(2px, 0px) rotate(0deg);
        -webkit-transform: translate(2px, 0px) rotate(0deg);
        transform: translate(2px, 0px) rotate(0deg);
    }

    66% {
        -moz-transform: translate(-2px, 0px) rotate(0deg);
        -ms-transform: translate(-2px, 0px) rotate(0deg);
        -o-transform: translate(-2px, 0px) rotate(0deg);
        -webkit-transform: translate(-2px, 0px) rotate(0deg);
        transform: translate(-2px, 0px) rotate(0deg);
    }

    68% {
        -moz-transform: translate(-7px, 0px) rotate(0deg);
        -ms-transform: translate(-7px, 0px) rotate(0deg);
        -o-transform: translate(-7px, 0px) rotate(0deg);
        -webkit-transform: translate(-7px, 0px) rotate(0deg);
        transform: translate(-7px, 0px) rotate(0deg);
    }

    70% {
        -moz-transform: translate(-1px, 0px) rotate(0deg);
        -ms-transform: translate(-1px, 0px) rotate(0deg);
        -o-transform: translate(-1px, 0px) rotate(0deg);
        -webkit-transform: translate(-1px, 0px) rotate(0deg);
        transform: translate(-1px, 0px) rotate(0deg);
    }

    72% {
        -moz-transform: translate(-6px, 0px) rotate(0deg);
        -ms-transform: translate(-6px, 0px) rotate(0deg);
        -o-transform: translate(-6px, 0px) rotate(0deg);
        -webkit-transform: translate(-6px, 0px) rotate(0deg);
        transform: translate(-6px, 0px) rotate(0deg);
    }

    74% {
        -moz-transform: translate(5px, 0px) rotate(0deg);
        -ms-transform: translate(5px, 0px) rotate(0deg);
        -o-transform: translate(5px, 0px) rotate(0deg);
        -webkit-transform: translate(5px, 0px) rotate(0deg);
        transform: translate(5px, 0px) rotate(0deg);
    }

    76% {
        -moz-transform: translate(0px, 0px) rotate(0deg);
        -ms-transform: translate(0px, 0px) rotate(0deg);
        -o-transform: translate(0px, 0px) rotate(0deg);
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg);
    }

    78% {
        -moz-transform: translate(9px, 0px) rotate(0deg);
        -ms-transform: translate(9px, 0px) rotate(0deg);
        -o-transform: translate(9px, 0px) rotate(0deg);
        -webkit-transform: translate(9px, 0px) rotate(0deg);
        transform: translate(9px, 0px) rotate(0deg);
    }

    80% {
        -moz-transform: translate(-3px, 0px) rotate(0deg);
        -ms-transform: translate(-3px, 0px) rotate(0deg);
        -o-transform: translate(-3px, 0px) rotate(0deg);
        -webkit-transform: translate(-3px, 0px) rotate(0deg);
        transform: translate(-3px, 0px) rotate(0deg);
    }

    82% {
        -moz-transform: translate(8px, 0px) rotate(0deg);
        -ms-transform: translate(8px, 0px) rotate(0deg);
        -o-transform: translate(8px, 0px) rotate(0deg);
        -webkit-transform: translate(8px, 0px) rotate(0deg);
        transform: translate(8px, 0px) rotate(0deg);
    }

    84% {
        -moz-transform: translate(-2px, 0px) rotate(0deg);
        -ms-transform: translate(-2px, 0px) rotate(0deg);
        -o-transform: translate(-2px, 0px) rotate(0deg);
        -webkit-transform: translate(-2px, 0px) rotate(0deg);
        transform: translate(-2px, 0px) rotate(0deg);
    }

    86% {
        -moz-transform: translate(-1px, 0px) rotate(0deg);
        -ms-transform: translate(-1px, 0px) rotate(0deg);
        -o-transform: translate(-1px, 0px) rotate(0deg);
        -webkit-transform: translate(-1px, 0px) rotate(0deg);
        transform: translate(-1px, 0px) rotate(0deg);
    }

    88% {
        -moz-transform: translate(-3px, 0px) rotate(0deg);
        -ms-transform: translate(-3px, 0px) rotate(0deg);
        -o-transform: translate(-3px, 0px) rotate(0deg);
        -webkit-transform: translate(-3px, 0px) rotate(0deg);
        transform: translate(-3px, 0px) rotate(0deg);
    }

    90% {
        -moz-transform: translate(4px, 0px) rotate(0deg);
        -ms-transform: translate(4px, 0px) rotate(0deg);
        -o-transform: translate(4px, 0px) rotate(0deg);
        -webkit-transform: translate(4px, 0px) rotate(0deg);
        transform: translate(4px, 0px) rotate(0deg);
    }

    92% {
        -moz-transform: translate(0px, 0px) rotate(0deg);
        -ms-transform: translate(0px, 0px) rotate(0deg);
        -o-transform: translate(0px, 0px) rotate(0deg);
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg);
    }

    94% {
        -moz-transform: translate(4px, 0px) rotate(0deg);
        -ms-transform: translate(4px, 0px) rotate(0deg);
        -o-transform: translate(4px, 0px) rotate(0deg);
        -webkit-transform: translate(4px, 0px) rotate(0deg);
        transform: translate(4px, 0px) rotate(0deg);
    }

    96% {
        -moz-transform: translate(2px, 0px) rotate(0deg);
        -ms-transform: translate(2px, 0px) rotate(0deg);
        -o-transform: translate(2px, 0px) rotate(0deg);
        -webkit-transform: translate(2px, 0px) rotate(0deg);
        transform: translate(2px, 0px) rotate(0deg);
    }

    98% {
        -moz-transform: translate(-2px, 0px) rotate(0deg);
        -ms-transform: translate(-2px, 0px) rotate(0deg);
        -o-transform: translate(-2px, 0px) rotate(0deg);
        -webkit-transform: translate(-2px, 0px) rotate(0deg);
        transform: translate(-2px, 0px) rotate(0deg);
    }
}

@keyframes shake {
    0% {
        -moz-transform: translate(0px, 0px) rotate(0deg);
        -ms-transform: translate(0px, 0px) rotate(0deg);
        -o-transform: translate(0px, 0px) rotate(0deg);
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg);
    }

    2% {
        -moz-transform: translate(-4px, 0px) rotate(0deg);
        -ms-transform: translate(-4px, 0px) rotate(0deg);
        -o-transform: translate(-4px, 0px) rotate(0deg);
        -webkit-transform: translate(-4px, 0px) rotate(0deg);
        transform: translate(-4px, 0px) rotate(0deg);
    }

    4% {
        -moz-transform: translate(2px, 0px) rotate(0deg);
        -ms-transform: translate(2px, 0px) rotate(0deg);
        -o-transform: translate(2px, 0px) rotate(0deg);
        -webkit-transform: translate(2px, 0px) rotate(0deg);
        transform: translate(2px, 0px) rotate(0deg);
    }

    6% {
        -moz-transform: translate(-3px, 0px) rotate(0deg);
        -ms-transform: translate(-3px, 0px) rotate(0deg);
        -o-transform: translate(-3px, 0px) rotate(0deg);
        -webkit-transform: translate(-3px, 0px) rotate(0deg);
        transform: translate(-3px, 0px) rotate(0deg);
    }

    8% {
        -moz-transform: translate(9px, 0px) rotate(0deg);
        -ms-transform: translate(9px, 0px) rotate(0deg);
        -o-transform: translate(9px, 0px) rotate(0deg);
        -webkit-transform: translate(9px, 0px) rotate(0deg);
        transform: translate(9px, 0px) rotate(0deg);
    }

    10% {
        -moz-transform: translate(2px, 0px) rotate(0deg);
        -ms-transform: translate(2px, 0px) rotate(0deg);
        -o-transform: translate(2px, 0px) rotate(0deg);
        -webkit-transform: translate(2px, 0px) rotate(0deg);
        transform: translate(2px, 0px) rotate(0deg);
    }

    12% {
        -moz-transform: translate(-6px, 0px) rotate(0deg);
        -ms-transform: translate(-6px, 0px) rotate(0deg);
        -o-transform: translate(-6px, 0px) rotate(0deg);
        -webkit-transform: translate(-6px, 0px) rotate(0deg);
        transform: translate(-6px, 0px) rotate(0deg);
    }

    14% {
        -moz-transform: translate(-7px, 0px) rotate(0deg);
        -ms-transform: translate(-7px, 0px) rotate(0deg);
        -o-transform: translate(-7px, 0px) rotate(0deg);
        -webkit-transform: translate(-7px, 0px) rotate(0deg);
        transform: translate(-7px, 0px) rotate(0deg);
    }

    16% {
        -moz-transform: translate(2px, 0px) rotate(0deg);
        -ms-transform: translate(2px, 0px) rotate(0deg);
        -o-transform: translate(2px, 0px) rotate(0deg);
        -webkit-transform: translate(2px, 0px) rotate(0deg);
        transform: translate(2px, 0px) rotate(0deg);
    }

    18% {
        -moz-transform: translate(7px, 0px) rotate(0deg);
        -ms-transform: translate(7px, 0px) rotate(0deg);
        -o-transform: translate(7px, 0px) rotate(0deg);
        -webkit-transform: translate(7px, 0px) rotate(0deg);
        transform: translate(7px, 0px) rotate(0deg);
    }

    20% {
        -moz-transform: translate(-1px, 0px) rotate(0deg);
        -ms-transform: translate(-1px, 0px) rotate(0deg);
        -o-transform: translate(-1px, 0px) rotate(0deg);
        -webkit-transform: translate(-1px, 0px) rotate(0deg);
        transform: translate(-1px, 0px) rotate(0deg);
    }

    22% {
        -moz-transform: translate(-10px, 0px) rotate(0deg);
        -ms-transform: translate(-10px, 0px) rotate(0deg);
        -o-transform: translate(-10px, 0px) rotate(0deg);
        -webkit-transform: translate(-10px, 0px) rotate(0deg);
        transform: translate(-10px, 0px) rotate(0deg);
    }

    24% {
        -moz-transform: translate(-10px, 0px) rotate(0deg);
        -ms-transform: translate(-10px, 0px) rotate(0deg);
        -o-transform: translate(-10px, 0px) rotate(0deg);
        -webkit-transform: translate(-10px, 0px) rotate(0deg);
        transform: translate(-10px, 0px) rotate(0deg);
    }

    26% {
        -moz-transform: translate(3px, 0px) rotate(0deg);
        -ms-transform: translate(3px, 0px) rotate(0deg);
        -o-transform: translate(3px, 0px) rotate(0deg);
        -webkit-transform: translate(3px, 0px) rotate(0deg);
        transform: translate(3px, 0px) rotate(0deg);
    }

    28% {
        -moz-transform: translate(-5px, 0px) rotate(0deg);
        -ms-transform: translate(-5px, 0px) rotate(0deg);
        -o-transform: translate(-5px, 0px) rotate(0deg);
        -webkit-transform: translate(-5px, 0px) rotate(0deg);
        transform: translate(-5px, 0px) rotate(0deg);
    }

    30% {
        -moz-transform: translate(4px, 0px) rotate(0deg);
        -ms-transform: translate(4px, 0px) rotate(0deg);
        -o-transform: translate(4px, 0px) rotate(0deg);
        -webkit-transform: translate(4px, 0px) rotate(0deg);
        transform: translate(4px, 0px) rotate(0deg);
    }

    32% {
        -moz-transform: translate(-6px, 0px) rotate(0deg);
        -ms-transform: translate(-6px, 0px) rotate(0deg);
        -o-transform: translate(-6px, 0px) rotate(0deg);
        -webkit-transform: translate(-6px, 0px) rotate(0deg);
        transform: translate(-6px, 0px) rotate(0deg);
    }

    34% {
        -moz-transform: translate(-2px, 0px) rotate(0deg);
        -ms-transform: translate(-2px, 0px) rotate(0deg);
        -o-transform: translate(-2px, 0px) rotate(0deg);
        -webkit-transform: translate(-2px, 0px) rotate(0deg);
        transform: translate(-2px, 0px) rotate(0deg);
    }

    36% {
        -moz-transform: translate(-6px, 0px) rotate(0deg);
        -ms-transform: translate(-6px, 0px) rotate(0deg);
        -o-transform: translate(-6px, 0px) rotate(0deg);
        -webkit-transform: translate(-6px, 0px) rotate(0deg);
        transform: translate(-6px, 0px) rotate(0deg);
    }

    38% {
        -moz-transform: translate(-2px, 0px) rotate(0deg);
        -ms-transform: translate(-2px, 0px) rotate(0deg);
        -o-transform: translate(-2px, 0px) rotate(0deg);
        -webkit-transform: translate(-2px, 0px) rotate(0deg);
        transform: translate(-2px, 0px) rotate(0deg);
    }

    40% {
        -moz-transform: translate(4px, 0px) rotate(0deg);
        -ms-transform: translate(4px, 0px) rotate(0deg);
        -o-transform: translate(4px, 0px) rotate(0deg);
        -webkit-transform: translate(4px, 0px) rotate(0deg);
        transform: translate(4px, 0px) rotate(0deg);
    }

    42% {
        -moz-transform: translate(8px, 0px) rotate(0deg);
        -ms-transform: translate(8px, 0px) rotate(0deg);
        -o-transform: translate(8px, 0px) rotate(0deg);
        -webkit-transform: translate(8px, 0px) rotate(0deg);
        transform: translate(8px, 0px) rotate(0deg);
    }

    44% {
        -moz-transform: translate(-3px, 0px) rotate(0deg);
        -ms-transform: translate(-3px, 0px) rotate(0deg);
        -o-transform: translate(-3px, 0px) rotate(0deg);
        -webkit-transform: translate(-3px, 0px) rotate(0deg);
        transform: translate(-3px, 0px) rotate(0deg);
    }

    46% {
        -moz-transform: translate(-10px, 0px) rotate(0deg);
        -ms-transform: translate(-10px, 0px) rotate(0deg);
        -o-transform: translate(-10px, 0px) rotate(0deg);
        -webkit-transform: translate(-10px, 0px) rotate(0deg);
        transform: translate(-10px, 0px) rotate(0deg);
    }

    48% {
        -moz-transform: translate(4px, 0px) rotate(0deg);
        -ms-transform: translate(4px, 0px) rotate(0deg);
        -o-transform: translate(4px, 0px) rotate(0deg);
        -webkit-transform: translate(4px, 0px) rotate(0deg);
        transform: translate(4px, 0px) rotate(0deg);
    }

    50% {
        -moz-transform: translate(-6px, 0px) rotate(0deg);
        -ms-transform: translate(-6px, 0px) rotate(0deg);
        -o-transform: translate(-6px, 0px) rotate(0deg);
        -webkit-transform: translate(-6px, 0px) rotate(0deg);
        transform: translate(-6px, 0px) rotate(0deg);
    }

    52% {
        -moz-transform: translate(6px, 0px) rotate(0deg);
        -ms-transform: translate(6px, 0px) rotate(0deg);
        -o-transform: translate(6px, 0px) rotate(0deg);
        -webkit-transform: translate(6px, 0px) rotate(0deg);
        transform: translate(6px, 0px) rotate(0deg);
    }

    54% {
        -moz-transform: translate(-8px, 0px) rotate(0deg);
        -ms-transform: translate(-8px, 0px) rotate(0deg);
        -o-transform: translate(-8px, 0px) rotate(0deg);
        -webkit-transform: translate(-8px, 0px) rotate(0deg);
        transform: translate(-8px, 0px) rotate(0deg);
    }

    56% {
        -moz-transform: translate(5px, 0px) rotate(0deg);
        -ms-transform: translate(5px, 0px) rotate(0deg);
        -o-transform: translate(5px, 0px) rotate(0deg);
        -webkit-transform: translate(5px, 0px) rotate(0deg);
        transform: translate(5px, 0px) rotate(0deg);
    }

    58% {
        -moz-transform: translate(9px, 0px) rotate(0deg);
        -ms-transform: translate(9px, 0px) rotate(0deg);
        -o-transform: translate(9px, 0px) rotate(0deg);
        -webkit-transform: translate(9px, 0px) rotate(0deg);
        transform: translate(9px, 0px) rotate(0deg);
    }

    60% {
        -moz-transform: translate(7px, 0px) rotate(0deg);
        -ms-transform: translate(7px, 0px) rotate(0deg);
        -o-transform: translate(7px, 0px) rotate(0deg);
        -webkit-transform: translate(7px, 0px) rotate(0deg);
        transform: translate(7px, 0px) rotate(0deg);
    }

    62% {
        -moz-transform: translate(1px, 0px) rotate(0deg);
        -ms-transform: translate(1px, 0px) rotate(0deg);
        -o-transform: translate(1px, 0px) rotate(0deg);
        -webkit-transform: translate(1px, 0px) rotate(0deg);
        transform: translate(1px, 0px) rotate(0deg);
    }

    64% {
        -moz-transform: translate(2px, 0px) rotate(0deg);
        -ms-transform: translate(2px, 0px) rotate(0deg);
        -o-transform: translate(2px, 0px) rotate(0deg);
        -webkit-transform: translate(2px, 0px) rotate(0deg);
        transform: translate(2px, 0px) rotate(0deg);
    }

    66% {
        -moz-transform: translate(-2px, 0px) rotate(0deg);
        -ms-transform: translate(-2px, 0px) rotate(0deg);
        -o-transform: translate(-2px, 0px) rotate(0deg);
        -webkit-transform: translate(-2px, 0px) rotate(0deg);
        transform: translate(-2px, 0px) rotate(0deg);
    }

    68% {
        -moz-transform: translate(-7px, 0px) rotate(0deg);
        -ms-transform: translate(-7px, 0px) rotate(0deg);
        -o-transform: translate(-7px, 0px) rotate(0deg);
        -webkit-transform: translate(-7px, 0px) rotate(0deg);
        transform: translate(-7px, 0px) rotate(0deg);
    }

    70% {
        -moz-transform: translate(-1px, 0px) rotate(0deg);
        -ms-transform: translate(-1px, 0px) rotate(0deg);
        -o-transform: translate(-1px, 0px) rotate(0deg);
        -webkit-transform: translate(-1px, 0px) rotate(0deg);
        transform: translate(-1px, 0px) rotate(0deg);
    }

    72% {
        -moz-transform: translate(-6px, 0px) rotate(0deg);
        -ms-transform: translate(-6px, 0px) rotate(0deg);
        -o-transform: translate(-6px, 0px) rotate(0deg);
        -webkit-transform: translate(-6px, 0px) rotate(0deg);
        transform: translate(-6px, 0px) rotate(0deg);
    }

    74% {
        -moz-transform: translate(5px, 0px) rotate(0deg);
        -ms-transform: translate(5px, 0px) rotate(0deg);
        -o-transform: translate(5px, 0px) rotate(0deg);
        -webkit-transform: translate(5px, 0px) rotate(0deg);
        transform: translate(5px, 0px) rotate(0deg);
    }

    76% {
        -moz-transform: translate(0px, 0px) rotate(0deg);
        -ms-transform: translate(0px, 0px) rotate(0deg);
        -o-transform: translate(0px, 0px) rotate(0deg);
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg);
    }

    78% {
        -moz-transform: translate(9px, 0px) rotate(0deg);
        -ms-transform: translate(9px, 0px) rotate(0deg);
        -o-transform: translate(9px, 0px) rotate(0deg);
        -webkit-transform: translate(9px, 0px) rotate(0deg);
        transform: translate(9px, 0px) rotate(0deg);
    }

    80% {
        -moz-transform: translate(-3px, 0px) rotate(0deg);
        -ms-transform: translate(-3px, 0px) rotate(0deg);
        -o-transform: translate(-3px, 0px) rotate(0deg);
        -webkit-transform: translate(-3px, 0px) rotate(0deg);
        transform: translate(-3px, 0px) rotate(0deg);
    }

    82% {
        -moz-transform: translate(8px, 0px) rotate(0deg);
        -ms-transform: translate(8px, 0px) rotate(0deg);
        -o-transform: translate(8px, 0px) rotate(0deg);
        -webkit-transform: translate(8px, 0px) rotate(0deg);
        transform: translate(8px, 0px) rotate(0deg);
    }

    84% {
        -moz-transform: translate(-2px, 0px) rotate(0deg);
        -ms-transform: translate(-2px, 0px) rotate(0deg);
        -o-transform: translate(-2px, 0px) rotate(0deg);
        -webkit-transform: translate(-2px, 0px) rotate(0deg);
        transform: translate(-2px, 0px) rotate(0deg);
    }

    86% {
        -moz-transform: translate(-1px, 0px) rotate(0deg);
        -ms-transform: translate(-1px, 0px) rotate(0deg);
        -o-transform: translate(-1px, 0px) rotate(0deg);
        -webkit-transform: translate(-1px, 0px) rotate(0deg);
        transform: translate(-1px, 0px) rotate(0deg);
    }

    88% {
        -moz-transform: translate(-3px, 0px) rotate(0deg);
        -ms-transform: translate(-3px, 0px) rotate(0deg);
        -o-transform: translate(-3px, 0px) rotate(0deg);
        -webkit-transform: translate(-3px, 0px) rotate(0deg);
        transform: translate(-3px, 0px) rotate(0deg);
    }

    90% {
        -moz-transform: translate(4px, 0px) rotate(0deg);
        -ms-transform: translate(4px, 0px) rotate(0deg);
        -o-transform: translate(4px, 0px) rotate(0deg);
        -webkit-transform: translate(4px, 0px) rotate(0deg);
        transform: translate(4px, 0px) rotate(0deg);
    }

    92% {
        -moz-transform: translate(0px, 0px) rotate(0deg);
        -ms-transform: translate(0px, 0px) rotate(0deg);
        -o-transform: translate(0px, 0px) rotate(0deg);
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg);
    }

    94% {
        -moz-transform: translate(4px, 0px) rotate(0deg);
        -ms-transform: translate(4px, 0px) rotate(0deg);
        -o-transform: translate(4px, 0px) rotate(0deg);
        -webkit-transform: translate(4px, 0px) rotate(0deg);
        transform: translate(4px, 0px) rotate(0deg);
    }

    96% {
        -moz-transform: translate(2px, 0px) rotate(0deg);
        -ms-transform: translate(2px, 0px) rotate(0deg);
        -o-transform: translate(2px, 0px) rotate(0deg);
        -webkit-transform: translate(2px, 0px) rotate(0deg);
        transform: translate(2px, 0px) rotate(0deg);
    }

    98% {
        -moz-transform: translate(-2px, 0px) rotate(0deg);
        -ms-transform: translate(-2px, 0px) rotate(0deg);
        -o-transform: translate(-2px, 0px) rotate(0deg);
        -webkit-transform: translate(-2px, 0px) rotate(0deg);
        transform: translate(-2px, 0px) rotate(0deg);
    }
}

.shake {
    -webkit-animation-name: shake;
    -moz-animation-name: shake;
    -o-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: 0.6s;
    -moz-animation-duration: 0.6s;
    -o-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}

body * {
    font-family: FuturaStd-Medium;
}

.popup-body{
    padding:0px !important;
}

.popup-head{
    padding:0px !important;
    border-bottom:none !important;
}
﻿.transparent {
    border: none;
    background: none;
}

.dispBlock {
    display: block;
    border: none;
    background: none;
}

.transparentBar {
    border: none;
    background: none;
}

.no-margin {
    margin: 0;
}

.text-white {
    color: white !important;
}

.col-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 5%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 5%;
    -ms-flex: 0 0 5%;
    flex: 0 0 5%;
    max-width: 5%;
}

.col-15 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 15%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
}

.pushTitle {
    font-weight: 400;
    font-size: 18px;
    color: #70726f;
    padding: 0px 0px 5% 0px;
}

.popupPush {
    margin: 0px;
    padding: 5%;
    color: #9b9c9a;
    background-color: #daded9;
    text-align: center;
    height: auto !important;
}

.padding-15 {
    padding: 15px;
}

.padding-20 {
    padding: 20px;
}